<div class="card">
  <div class="card-header">Bienvenido
  </div>
  <div class="card-body">
    <h5 class="card-title">Encuestas</h5>
    <p class="card-text">aqui se hara una respectiva presentacion de la web :D</p>
    <a href="/perfil" class="btn btn-primary">Mi Perfil</a>
  </div>
</div>