<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</head>

<body>
    <!--  <div class="card">
        <h1>hola mundo</h1>

    </div> -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="nombre">Escriba la Pregunta</label>
                    <input class="form-control" type="text" name="nombre" placeholder="Pregunta" id="preguntaDescripcion">
                    <label for="nombre">Seleccione el tipo de pregunta</label>

                    <select class="form-control" name="tipo" id="select-tipo" onchange="cambiarTipo()">
                        <option value="cerrada">cerrada</option>
                        <option value="multiple">múltiple</option>
                        <option value="abierta">Abierta</option>

                    </select>
                    <br>

                    <input type="text" name="nombreOpcion" id="nombreOption-id" placeholder="Nombre de la opcion">
                    <button class="btn btn-success" id="addButton" onclick="addOption()">Añadir Respuesta</button>

                    <div id="respuestas-id" class="d-flex flex-column">
                        <!-- <input type="checkbox" name="respuestas" id=""> opcion m1
                    <input type="radio" name="respuestas" id=""> cerrada 1
                    <input type="radio" name="respuestas" id=""> cerrada 2 -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="guardarPregunta()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#exampleModal">Launch modal</button>
</body>
<script>
    var listaDePreguntas = [];
    var opDeResp = [];
    console.log('hola mundo');
    /* const open = () => {
        console.log('as');
        $('#exampleModal').modal('show')
    }
    open(); */
    let selectTipo = document.getElementById('select-tipo').value;
    let respuestasDiv = document.getElementById('respuestas-id');
    let nombreOption = document.getElementById('nombreOption-id').value;


    const cambiarTipo = () => {
        selectTipo = document.getElementById('select-tipo').value;
        console.log('cambiar tipo');
        resetRespuestas();
        ocultarBoton();
        opDeResp = [];
        if (selectTipo === 'abierta') {
            const newDiv = document.createElement("div");
            const textArea = document.createElement("textarea");
            textArea.name = "respuestas";
            textArea.className = "form-control";
            newDiv.appendChild(textArea);
            respuestasDiv.appendChild(newDiv);
            console.log('text area pa');

        }
    }


    const resetRespuestas = () => {
        respuestasDiv.innerHTML = "";
    }
    const ocultarBoton = () => {
        selectTipo = document.getElementById('select-tipo').value;
        let nombreOption = document.getElementById('nombreOption-id');
        let addButton = document.getElementById('addButton');
        if (selectTipo === 'abierta') {
            nombreOption.hidden = true;
            addButton.hidden = true;
        } else {
            nombreOption.hidden = false;
            addButton.hidden = false;
        }
    }

    const addOption = () => {
        nombreOption = document.getElementById('nombreOption-id').value;
        let listaDeOpciones = [];
        if (selectTipo == 'cerrada') {
            //resetRespuestas();
            const newDiv = document.createElement("div");
            const input = document.createElement("input");
            const label = document.createElement("label");
            input.name = "respuestas";
            input.type = "radio";
            input.className = "flex-column"
            label.innerHTML = ` ${nombreOption}`;
            newDiv.appendChild(input);
            newDiv.appendChild(label);
            respuestasDiv.appendChild(newDiv);
            opDeResp.push(nombreOption);
            /* const option = respuestasDiv.appendChild(input);
            const labelOption = respuestasDiv.appendChild(label); */
        }

        if (selectTipo == 'multiple') {
            //resetRespuestas();
            const newDiv = document.createElement("div");

            const input = document.createElement("input");
            const label = document.createElement("label");
            input.name = "respuestas";
            input.type = "checkbox";
            input.className = "flex-column"
            label.innerHTML = `${nombreOption}`;
            newDiv.appendChild(input);
            newDiv.appendChild(label);
            respuestasDiv.appendChild(newDiv);
            opDeResp.push(nombreOption);
        }
        console.log(opDeResp);
    }

    const guardarPregunta = () => {
        nombre_p = document.getElementById('preguntaDescripcion').value;
        const pregunta = {
            "id_pregunta": '', 
            "nombre_p": nombre_p, 
            "tipo": selectTipo, 
            "L1": opDeResp
        }
        listaDePreguntas.push(pregunta);
    }



</script>

</html>