<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">EncuestasApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Encuestas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/encuestas/ListaEncuestas">Lista De Encuestas</a></li>
            <li><a class="dropdown-item" href="/encuestas/newEncuesta">Nueva Encuesta</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Aplicaciones de encuestas</a></li>
          </ul>
      </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/users/signup">Registrate</a>
            </li>
            <li class="nav-item">
                {{#if user}}
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDarkDropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Hola {{user.name}}
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/users/cerrarSession">Cerrar Session</a></li>
                    </ul>
                </div>
                {{else}}
                <a class="nav-link" href="/users/signin">Inicia Session</a>
                {{/if}}
            </li>
        </ul>
    </div>
    </div>
</nav>