<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card-mt-4 text-center">
            <div class="card-header">
                <h1>Mi perfil</h1>
            </div>
            <div class="card-body">
                <img src="img/user.png" class="card-img-top" alt="login" style="width: 50%; height: 50%;">
                <div class="card-body">
                    <label for="text">Nombre: {{user.name}}</label>
                    <hr>
                    <label for="text">Email: {{user.email}}</label>
                    <hr>
                    <label for="text">telefono: {{user.telefono}}</label>
                </div>
            </div>
        </div>
    </div>
</div>