<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card-mt-4 text-center">
            <div class="card-header text-white">
                <h1>Iniciar Session</h1>
            </div>
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email" autofocus />
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="password" name="contraseña" class="form-control" placeholder="Contraseña"/>
                    </div>
                    <br />
                    <div class="from-control">
                        <button class="btn btn-primary btn-block" type="submit">Iniciar
                            Session</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>